IndentWidth: 4
TabWidth: 4

Language: Cpp

SpaceBeforeParens: Never
BreakBeforeBraces: Custom
BraceWrapping:
    SplitEmptyFunction: false
    SplitEmptyNamespace: false
    SplitEmptyRecord: false
    AfterFunction: true
    AfterNamespace: true
    AfterClass: true
    AfterStruct: true
    AfterControlStatement: true
    BeforeElse: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All